<!DOCTYPE html>
    <head>
        <title> Moje wyniki </title>
        <style>
            body{
                background-color : #c4cec2;
                font-family: "Copperplate Gothic Light", sans-serif;;
            }
            #results{
                border-collapse : collapse;
                width: 70%;
                margin-top : 70px;
                margin-left : 15%;
            }

            #results th, #results td{
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
            }
            
            #results tr:nth-child(even){
                background-color: #f2f2f2;
            }
            #results tr:hover {
                background-color: #ddd;
            }
            #results th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color:#a8a8a8;
                color: floralwhite;
            }
            #header{
                width : 100%;
                position: fixed; 
                color: #293826;
                top : 0px;
                margin-bottom: 4px;
                background-color: #84ba7a;
                border : solid 1px black;
                height : 60px;
                line-height: 50px;
                text-align: center;
                display: inline-block;
                font-size: 36px;
                font-weight: bold;
                justify-content: center;               
            }
            #left{
                position : fixed;
                left : 0px;
                width : 20%;
                font-weight: bold;
            }
            button{
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: white;
                color: darkslategray;
                border: 2px solid black;
                border-radius: 8px;
            }
            button:hover{
                background-color: darkslategray;
                color: white;
            }
            .myButton1 {
                height: 40px;
                width: 60%;
                margin-bottom: 15px;
                margin-left: 10px;
            }
            .message {
                color : #f28237;
            }
        </style>
    </head>
    <body>
        <div id = 'header'>
            Mysterious Woodland Yavalath
        </div>
        <div id = 'left'>
            <div>
            <form method="GET" action = '/rooms' >
                <div>
                    <button class = 'myButton1'>Wróć do menu pokoi</button>
                </div>
            </form>
            </div>
            <div>
            <form method="GET" action = '/logout' >
                <div>
                    <button class = 'myButton1'>Wyloguj się</button>
                </div>
            </form>
            </div>
            <div>
                <% if ( locals.message ) { %>
                <div class='message'>
                    <%= locals.message %>
                </div>
                <% } %>
            </div>
        </div>
        <% if( locals.history.length > 0 ){ %> 
        <table id = 'results'>
            <tr>
                <th>Gracz1</th><th>Gracz2</th><th>Data</th><th>Zwycięzca</th>
            </tr>

            <% for(var i = 0; i < locals.history.length; i++) { %>
                <tr>
                    <td><%= locals.history[i].user1 %></td>
                    <td><%= locals.history[i].user2 %></td>
                    <td><%= locals.history[i].data.toString().substring(0,25) %></td>
                    <td><%= locals.history[i].winner %></td>
                </tr>    
            <% } %>
        </table>
        <% }  else {%>
        <div>
            Nie masz jeszcze żadnych rozegranych gier :(
        </div>
        <% } %>
</body>
</html>	

