<!DOCTYPE html>
    <head>
        <title> Pokoje </title>
        <style>
            body{
                background-color : #c4cec2;
                font-family: "Copperplate Gothic Light", sans-serif;;
            }
            #rooms{
                border-collapse : collapse;
                width: 70%;
                margin-top : 70px;
                margin-left : 15%;
            }

            #rooms th, #rooms td{
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
            }
            
            #rooms tr:nth-child(even){
                background-color: #f2f2f2;
            }
            #rooms tr:hover {
                background-color: #ddd;
            }
            #rooms th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color:#a8a8a8;
                color: floralwhite;
            }
            #header{
                width : 100%;
                position: fixed; 
                color: #293826;
                top : 0px;
                margin-bottom: 4px;
                background-color: #84ba7a;
                border : solid 1px black;
                height : 60px;
                line-height: 50px;
                text-align: center;
                display: inline-block;
                font-size: 36px;
                font-weight: bold;
                justify-content: center;               
            }
            #left{
                position : fixed;
                left : 0px;
                width : 20%;
                font-weight: bold;
            }
            button{
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: white;
                color: darkslategray;
                border: 2px solid black;
                border-radius: 8px;
            }
            button:hover{
                background-color: darkslategray;
                color: white;
            }
            .myButton1 {
                height: 40px;
                width: 60%;
                margin-bottom: 15px;
                margin-left: 10px;
            }
            .message {
                color : #f28237;
            }
        </style>
    </head>
    <body>
        <div id = 'header'>
            Mysterious Woodland Yavalath
        </div>
        <div id = 'left'>
            <div>
            <form method="GET" action = '/results' >
                <div>
                    <button class = 'myButton1'>Statystyki</button>
                </div>
            </form>
            </div>
            <div>
            <form method="GET" action = 'http://www.iggamecenter.com/info/en/yavalath.html' >
                <div>
                    <button class = 'myButton1'>Instrukcja</button>
                </div>
            </form>
            </div>
            <div>
            <form method="GET" action = '/logout' >
                <div>
                    <button class='myButton1'>Wyloguj się</button>
                </div>
            </form>
            </div>
            <div>
                <% if ( locals.message ) { %>
                <div class='message'>
                    <%= locals.message %>
                </div>
                <% } %>
            </div>
        </div>
        <table id = 'rooms' style = 'margin-top: 70px'>
            <tr>
                <th>Numer pokoju</th><th>Gracz1</th><th>Gracz2</th><th>Dołącz</th>
            </tr>

            <% for(var i = 0; i < locals.AllGameStates.length; i++) { %>
                <tr>
                    <td style="width: 10%"><%= locals.AllGameStates[i].id %></td>
                    <% if (locals.AllGameStates[i].user0) { %>
                    <td><%= locals.AllGameStates[i].user0.login%></td>
                    <% }
                    else {%>
                    <td>wolne</td>
                    <% } %>
                    <% if (locals.AllGameStates[i].user1) { %>
                    <td><%= locals.AllGameStates[i].user1.login%></td></td>
                    <% }
                    else {%>
                    <td>wolne</td>
                    <% } %>
                    <% if (locals.AllGameStates[i].user1 && locals.AllGameStates[i].user0) { %>
                    <td>Pełny</td></td>
                    <% }
                    else {%>
                    <td><form method="GET" action = <%= "/game" + locals.AllGameStates[i].id %> >
                        <div>
                        <button>Dołącz do gry</button>
                        </div>
                    </form></td>
                    <% } %>
                </tr>    
            <% } %>
        </table>
</body>
</html>	

