{% extends "main.twig" %}

{% block title %} Accounts view {% endblock %}

{% block content %}
    {% if accounts %}
        <table>
            <caption>Accounts:</caption>
            <thead>
            <tr>
                <th> ID</th>
                <th> Email</th>
                <th> Description</th>
                <th> Points</th>
                <th> Active</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td> {{ account.id }} </td>
                    <td> {{ account.email }}  </td>
                    <td> {{ account.description }}  </td>
                    <td> {{ account.points }}  </td>
                    <td> {{ account.active ? 'Yes' : 'No' }}  </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="warning">There are no accounts in the system!</span>
    {% endif %}

{% endblock %}